.attribution { font-size: 11px; text-align: center; padding: 12px; }
.attribution a { color: white; }

@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: url(images/bg-mobile.svg) no-repeat top  hsl(257, 40%, 49%);
    background-size: 100%;
    margin: 2vh 3vw 0vh 3vw;
    padding: 1.5rem;
}
.logo{
    width: 30vw;
    margin-bottom: 3.5rem;
}
.pic{
    max-width: 90vw;
}
main{
    color: white;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    padding: 12px 0px;
}
main h2{
    margin: 0vh 12vw;
}
main p{
    font-family: 'open sans',sans-serif;
    font-weight: 300;
    padding: 8px;
    margin: 1rem 10vw;
    line-height: 1.5;
}
main button{
    padding: 15px;
    width: 60%;
    border-radius: 48px;
    border: solid 2px;
    color: hsl(257, 40%, 49%);
}
main button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    border: none;
}
.icons{
    color: white;
    font-size: 24px;
    word-spacing: 10px;
    align-self: center;
    padding: 24px 0px;
}

/* media:desktop code */
@media only screen and (min-width:769px){
    body{
        background: url(images/bg-desktop.svg) no-repeat top hsl(257, 40%, 49%);
    }
    .logo{
        max-width: 15vw;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    figure{
        max-width: 100%;
    }
    main{
        text-align: left;
        padding: 36px;
    }
    main p{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    main h2{
        font-size: 2rem;
        line-height: 1.5;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    main button{
        width: 30%;
    }
    .icons{
        align-self:end;
    }
    footer{
        padding: 1rem;
    }
}