.attribution { font-size: 11px; text-align: center; padding: 12px; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left:3vw;
    margin-right: 3vw;
    padding: 1.5rem;
    background-color: hsl(257, 40%, 49%);
}
picture{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}
.logo{
    width: 30vw;
    margin-bottom: 3.5rem;
}
.pic{
    max-width: 90vw;
}
main{
    color: white;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
}
main h2{
    margin-left: 12vw;
    margin-right: 12vw;
}
main p{
    font-family: 'open sans',sans-serif;
    padding: 8px;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 1.5;
}
main button{
    padding: 15px;
    width: 60%;
    border-radius: 48px;
    border: solid 2px;
    color: hsl(257, 40%, 49%);
}
main button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    border: none;
}
.icons{
    color: white;
    font-size: 24px;
    word-spacing: 10px;
    align-self: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* media:desktop code */
@media only screen and (min-width:769px){
    .logo{
        max-width: 15vw;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    .pic{
        max-width: 100%;
    }
    main{
        text-align: left;
        padding: 36px;
    }
    main p{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    main h2{
        font-size: 2rem;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    main button{
        width: 30%;
    }
    .icons{
        align-self:end;
    }
    footer{
        padding: 3rem;
    }
}